<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/WebServerCSS.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login or Register</h2>
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <label for="username">Username</label>
                {{ form.username(id='username', class_='form-control') }}
                {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                {{ form.password(id='password', class_='form-control') }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
